/* Credit: http://www.templatemo.com */

body{ 
	margin: 0;
	padding: 0;
	color: #ffa71a;
	font-size: 12px;
	line-height: 1.6em; 
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	background-color: #313030;
	background-image:  url(images/templatemo_body.jpg);
	background-position: center top;
	background-repeat: no-repeat
}
