<!DOCTYPE html>
<html>
<head>
  <title>Biblio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   
 <div class="container">
<div class="jumbotron">
        <h1>BiblioWorld</h1>
      <p class="lead">Sus libros a su alcance! :D.</p><br>
  <p>Somos quienes tratan de brindar nuevas historias a su vida</p>
  <p>poniendo a su alcance libros de todo tipo </p>
  
        <p><a class="btn btn-lg btn-success" href="book" role="button">Libros</a></p>
        <p><a class="btn btn-lg btn-success" href="author" role="button">Autores</a></p>
      </div>
   <div>
    
  </div>
<%= yield %>

  </div>
</body>
</html>
