<!DOCTYPE html>
<html>
<head>
  <title>Biblio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   
 <div class="container">
<div class="jumbotron">
        <h1>BiblioWorld</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="book" role="button">Libros</a></p>
        <p><a class="btn btn-lg btn-success" href="author" role="button">Authores</a></p>
      </div>
   <div>
    
  </div>
<%= yield %>

  </div>
</body>
</html>
