<!DOCTYPE html>
<html>
<head>
  <title>Biblio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   
 <div class="container">
<div class="jumbotron">
        <h1>Comparte XD</h1>
      <p class="lead">Tus Libros Y Tutoriales Para Todos! :D.</p><br>
  <p>Traemos Historias y Tutoriales </p>
  <p>Para Mejorar y Facilitar Tu Vida </p>
  
        <p><a class="btn btn-lg btn-success" href="book" role="button">Libros</a> 
           <a class="btn btn-lg btn-success" href="show" role="button">Busca un libro</a>
           <a class="btn btn-lg btn-success" href="newbook" role="button">Comparte un Libro</a></p>

      </div>
   <div>
    
  </div>
<%= yield %>

  </div>
</body>
</html>
